<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qa.springboot.dao.MultipleMapper">
<select id="selectByUserExample" resultType="map">
select u.userid ,uname ,ufname,usex,email,ufnum,upw
from user u,userinfo uf 
where u.userid=uf.userid 
</select>
</mapper>